/* by Denis (www.xpd.com.br) */
#payment_form_bcash
{
    padding: 10px 0;
}

#payment_form_bcash #cc
{
    margin-top: 8px;
}

#payment_form_bcash #cc #bcash_cc_type, 
#payment_form_bcash #cc #bcash_cc_parcelas
{
    color: #333;
    overflow: hidden;
    height: 30px;
    padding-top: 5px;
    width: 250px;
}

#payment_form_bcash #cc #bcash_expiration_yr {
    color: #333;
    overflow: hidden;
    height: 30px;
    padding-top: 5px;
    width: 70px;
}

#payment_form_bcash #cc #bcash_expiration {
    color: #333;
    overflow: hidden;
    height: 30px;
    padding-top: 5px;
    width: 60px;
}

#payment_form_bcash #cc #bcash_dob {
    color: #333;
    overflow: hidden;
    height: 30px;
    padding-top: 5px;
    width: 60px;
    margin-right: 10px;
}

#payment_form_bcash #cc #bcash_dob_mo {
    color: #333;
    overflow: hidden;
    height: 30px;
    padding-top: 5px;
    width: 60px;
    margin-right: 10px;
}

#payment_form_bcash #cc #bcash_dob_yr {
    color: #333;
    overflow: hidden;
    height: 30px;
    padding-top: 5px;
    width: 70px;
    margin-right: 10px;
}

#payment_form_bcash #cc #bcash_cc_number {
    background: url("../images/bcash/padlock_clean.png") no-repeat scroll 225px white;
}

#payment_form_bcash #cc select, #payment_form_bcash #cc option {
    outline: 0 none;
    clear: both;
    float: left;
    font-size: 14px;
}

#payment_form_bcash #cc .input-text {
    width: 240px;
    height: 25px;
    margin-bottom: 10px;
    font-size: 14px;
}

#payment_form_bcash #cc input {
    padding-left: 5px;
    color: black;
    box-shadow: 0 0px 4px -2px #777 inset;
}

#payment_form_bcash #cc #bcash_cc_cid {
    width: 40px;
    height: 25px;
}

#payment_form_bcash #cc #bcash_cc_phone {
    width: 160px;
}

#payment_form_bcash #cc #bcash_cc_cpftitular {
    width: 160px;
}

#payment_form_bcash #cc .form-evolucard-celular .number {
    width: 158px;
}

#cc .seleciona-bandeiras-cards input.radio {
    cursor: pointer !important;
}

/*.seleciona-bandeiras-cards {
    cursor: pointer !important;
    padding-left: 10px;
    padding-right: 0px;
}

.seleciona-bandeiras-cards label {
    cursor: pointer !important;
}

.seleciona-bandeiras-cards:hover {
    cursor: pointer !important;
    background-color: #F0F0F0 !important;
    border: 1px solid #CCC !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    padding-left: 10px;
    padding-right: 0px;
}

.seleciona-bandeiras-cards.select {
    background-color: #F0F0F0 !important;
    border: 1px solid #CCC !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    padding-left: 10px;
    padding-right: 0px;
}*/

#cc .card-logo { }

#cc .card-logo li { 
    float: left;
    text-align: center; 
    margin-right: 0px !important;
    height:75px;
    vertical-align:bottom;
    display:block;
    position:relative;
    width: 60px;
}

#cc .card-logo li label {
    padding-left: 5px;
}

#cc .card-logo li .validation-advice {
    position:absolute;
    top:55px;
    width:150px
}

#cc .payment-methods .form-list li .input-box .input-text.cvv {
    width:50px; 
    margin-right:5px
}

#cc .payment-methods .form-list li .input-box select { 
    width:auto !important;
    margin-right:5px
}