<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <DSpalenzaDArthur_Bcash>
            <version>0.1.0.0</version>
        </DSpalenzaDArthur_Bcash>
    </modules>
    <global>
        <models>
            <bcash>
                <class>DSpalenzaDArthur_Bcash_Model</class>
                <resourceModel>bcash_resource</resourceModel>
            </bcash>
            <bcash_resource>
                <class>Mage_Catalog_Model_Resource</class>
                <entities>
                    <quote_payment_info>
                        <table>bcash_sales_flat_quote_payment_info</table>
                    </quote_payment_info>
                </entities>
            </bcash_resource>
        </models>
        <resources>
            <bcash_setup>
                <setup>
                    <module>DSpalenzaDArthur_Bcash</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </bcash_setup>
        </resources>
        <blocks>
            <bcash>
                <class>DSpalenzaDArthur_Bcash_Block</class>
            </bcash>
        </blocks>
        <helpers>
            <bcash>
                <class>DSpalenzaDArthur_Bcash_Helper</class>
            </bcash>
        </helpers>
        <bcash>
            <cc>
                <types>
                    <visa>
                        <method_code>1</method_code>
                        <code>visa</code>
                        <name>Visa</name>
                        <order>10</order>
                    </visa>
                    <mastercard>
                        <method_code>2</method_code>
                        <code>mastercard</code>
                        <name>MasterCard</name>
                        <order>20</order>
                    </mastercard>
                    <amex>
                        <method_code>37</method_code>
                        <code>amex</code>
                        <name>American Express</name>
                        <order>30</order>
                    </amex>
                    <diners>
                        <method_code>55</method_code>
                        <code>diners</code>
                        <name>Diners Club</name>
                        <order>40</order>
                    </diners>
                    <elo>
                        <method_code>63</method_code>
                        <code>elo</code>
                        <name>ELO</name>
                        <order>50</order>
                    </elo>
                    <hipercard>
                        <method_code>56</method_code>
                        <code>hipercard</code>
                        <name>Hipercard</name>
                        <order>60</order>
                    </hipercard>
                    <aura>
                        <method_code>45</method_code>
                        <code>aura</code>
                        <name>Aura</name>
                        <order>70</order>
                    </aura>
                    <simulacao>
                        <code>simulacao</code>
                        <name>Simulacao</name>
                        <order>80</order>
                    </simulacao>
                </types>
            </cc>
        </bcash>
        <fieldsets>
            <sales_convert_quote_payment>
                <bcash_transaction_id>
                    <to_order_payment>*</to_order_payment>
                </bcash_transaction_id>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <bcash_transaction_id>
                    <to_quote_payment>*</to_quote_payment>
                </bcash_transaction_id>
            </sales_convert_order_payment>
        </fieldsets>
    </global>
    <frontend>
        <translate>
            <modules>
                <DSpalenzaDArthur_Bcash>
                    <files>
                        <default>DSpalenzaDArthur_Bcash.csv</default>
                    </files>
                </DSpalenzaDArthur_Bcash>
            </modules>
        </translate>
        <routers>
            <bcash>
                <use>standard</use>
                <args>
                    <module>DSpalenzaDArthur_Bcash</module>
                    <frontName>bcash</frontName>
                </args>
            </bcash>
        </routers>
        <layout>
            <updates>
                <bcash>
                    <file>bcash.xml</file>
                </bcash>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <DSpalenzaDArthur_Bcash>
                    <files>
                        <default>DSpalenzaDArthur_Bcash.csv</default>
                    </files>
                </DSpalenzaDArthur_Bcash>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <bcash>
                <active>1</active>
                <model>bcash/payment_method_standard</model>
                <payment_action>createTransaction</payment_action>
                <title>Bcash</title>
                <mostrar_parcelamento>1</mostrar_parcelamento>
                <cctypes>visa,mastercard,elo,amex,diners</cctypes>
                <environment>0</environment>
                <allowspecific>0</allowspecific>
                <useccv>1</useccv>
                <captura>1</captura>
                <ativarlabel>1</ativarlabel>
                <enablevalidate>1</enablevalidate>
                <transaction_url>https://api.bcash.com.br/service/createTransaction/</transaction_url>
                <transaction_url_type>json</transaction_url_type>
                <checkout_stop_processing>0</checkout_stop_processing>
                <checkout_stop_processing_use_default_message>0</checkout_stop_processing_use_default_message>
                <address_format>multiline</address_format>
                <address_format_multiline_street>1</address_format_multiline_street>
                <address_format_multiline_number>2</address_format_multiline_number>
                <address_format_multiline_neighborhood>3</address_format_multiline_neighborhood>
                <address_format_multiline_complement>4<address_format_multiline_complement>
                <debug>1</debug>
            </bcash>
        </payment>
    </default>
</config>

