<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <DSpalenzaDArthur_Bcash>
            <version>1.0.0</version>
        </DSpalenzaDArthur_Bcash>
    </modules>
    <global>
        <models>
            <bcash>
                <class>DSpalenzaDArthur_Bcash_Model</class>
            </bcash>
        </models>
        <resources>
            <bcash_setup>
                <setup>
                    <module>DSpalenzaDArthur_Bcash</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bcash_setup>
            <bcash_write>
                <use>core_write</use>
            </bcash_write>
            <bcash_read>
                <use>core_read</use>
            </bcash_read>
        </resources>
        <blocks>
            <bcash>
                <class>DSpalenzaDArthur_Bcash_Block</class>
            </bcash>
        </blocks>
        <helpers>
            <bcash>
                <class>DSpalenzaDArthur_Bcash_Helper</class>
            </bcash>
        </helpers>
        <bcash>
            <cc>
                <types>
                    <visa>
                        <code>visa</code>
                        <name>Visa</name>
                        <order>0</order>
                    </visa>
                    <mastercard>
                        <code>mastercard</code>
                        <name>MasterCard</name>
                        <order>20</order>
                    </mastercard>
                    <amex>
                        <code>amex</code>
                        <name>American Express</name>
                        <order>30</order>
                    </amex>
                    <diners>
                        <code>diners</code>
                        <name>Diners Club</name>
                        <order>40</order>
                    </diners>
                    <elo>
                        <code>elo</code>
                        <name>ELO</name>
                        <order>50</order>
                    </elo>
                    <simulacao>
                        <code>simulacao</code>
                        <name>Simulacao</name>
                        <order>60</order>
                    </simulacao>
                </types>
            </cc>
        </bcash>
    </global>
    <frontend>
        <translate>
            <modules>
                <DSpalenzaDArthur_Bcash>
                    <files>
                        <default>DSpalenzaDArthur_Bcash.csv</default>
                    </files>
                </DSpalenzaDArthur_Bcash>
            </modules>
        </translate>
        <routers>
            <bcash>
                <use>standard</use>
                <args>
                    <module>DSpalenzaDArthur_Bcash</module>
                    <frontName>bcash</frontName>
                </args>
            </bcash>
        </routers>
        <layout>
            <updates>
                <bcash>
                    <file>bcash.xml</file>
                </bcash>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <bcash>
                <active>1</active>
                <model>bcash/standard</model>
                <title>Bcash</title>
                <mostrar_parcelamento>1</mostrar_parcelamento>
                <cctypes>visa,mastercard,elo,amex,diners</cctypes>
                <environment>0</environment>
                <allowspecific>0</allowspecific>
                <useccv>1</useccv>
                <captura>1</captura>
                <ativarlabel>1</ativarlabel>
                <enablevalidate>1</enablevalidate>
            </bcash>
        </payment>
    </default>
</config>

